//- Left side column. contains the logo and sidebar
aside.main-sidebar

    //-  sidebar: style can be found in sidebar.less
    section.sidebar
            //- Sidebar Menu
            ul.sidebar-menu(data-widget="tree")
                li.header
                    h3.title CAMPAIGN
                li.active
                    a.icon
                        i.fa.fa-list
                    a All Campaign

                li.header
                    h3.title.title-style MANAGE
                li
                    a.icon
                        i.fa.fa-cubes
                    a Organization
                li
                    a.icon
                        i.fa.fa-tablet
                    a Decives
                li
                    a.icon
                        i.fa.fa-file-text-o
                    a Plans
                li.header
                        h3.title.title-style APPLICATION
                
                li
                    a.icon
                        i.fa.fa-files-o
                    a Applications
                li.header
                        h3.title.title-style SETTINGS
                li
                    a.icon
                        i.fa.fa-lock
                    a Password
                li
                    a.icon
                        i.fa.fa-user
                    a Role
                        
            