doctype html
html(lang="en")
  head
    title= pageTitle
    base(href="/")

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    //- bootstrap
    link(rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css")
    //- font-awesome
    link(rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css")
    //- adminlte
    link(rel="stylesheet" href="./lib/adminLte/css/AdminLTE.min.css")
    link(rel="stylesheet" href="./lib/adminLte/css/skins/_all-skins.min.css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.css"/>

  //- body
  
div.login-header 
    img(src='~assets/1.png' ) 

div.login-form
    h3.login-title Sign in with your EB account
    form.login-action.form-group 
        label.login-label Username
        input.form-control.login-input(type="text", placeholder="enter your username")

        label.login-label.mg-t40 Password
        input.form-control.login-input(type="text", placeholder="enter password")
        div.login-foot
            a.text-forgotpwd Forgot password?
            button.btn-signin Sign In



//- jquery
script(src="./lib/jquery/jquery.min.js")
//- bootstrap
script(src="./lib/bootstrap/js/bootstrap.min.js")
//- adminlte
script(src="./lib/adminLte/js/adminlte.min.js")